# dependencies
node_modules/

# build outputs
dist/
playground/dist/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example
.npmrc

# editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript cache
*.tsbuildinfo
